.link-hover {
    transition: 0.4s;
}

.link-hover:hover {
    color: $btn_color_primary;
}

button {
    padding: 10px 15px;
    border-radius: 10px;
    border: none;
    box-shadow: none;
    background-color: white;
    &:hover {
        cursor: pointer;
    }
}
