$border_bottom: 1px solid #bdb5af;
$primary_color: #58402c;
$background_color: #ffe7d2;
$btn_color_primary: #30488f;
$card_width: (100% / 3);
$btn_primary_hover: #233569;
$width_footer_list: (100% / 7);
